.announncements {
    margin-top: 150px;
}

.card {
    margin: 70px 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.card p {
    font-size: 22px;
    color: rgb(34, 92, 201);
}

.card .date {
    background-color: rgb(211, 180, 180);
    font-size: 18px;
    text-align: right;
    padding: 5px;
}

.card button {
    margin: 10px;
    position: relative;
    left: 40%;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(75, 131, 235);
}