.box {
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.box p {
    font-size: 22px;
    color: rgb(34, 92, 201);
}

.box .date {
    background-color: rgb(211, 180, 180);
    font-size: 18px;
    text-align: right;
    padding: 5px;
}