.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 78vh;
    margin: 20px 0px;
}