.Items {
    box-sizing: border-box;
    display: block;
    background-color: rgb(75, 131, 235);
    border: 1px solid rgb(36, 25, 185);
    border-radius: 15px;
    width: 99%;
}

.Items a {
    padding: 20px;
    border: 1px solid rgba(161, 96, 96, 0.486);
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.Items a:active,
.Items a.active,
.Items a:hover {
    color: black;
    height: 60px;
}