.banner {
    height: 70px;
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 0 80px;
    background-color: rgb(75, 131, 235);
    border: 1px solid rgb(36, 25, 185);
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 90;
}

.banner h2, h3 {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.banner h3 {
    position: relative;
    left: 30%;
}